.message {
    display: contents;
}

.textAreaModal {
    resize: none;
    width: calc(100% - 50px);
    height: 170px;
}

.sendBtn {
    margin-top: 20px;
    height: 32px;
    width: calc(100% - 50px);
    color: white;
    background-color: var(--tyOrange);
    border: none;
}